body {
    background-color: #33557c;

    
    font-family: 'Lexend Deca', sans-serif;
    width: 800px; 
    margin: auto;
    color: #242b31;
  }
  
  table {
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  
  td, th {
    border: none;
    padding-top: 20px;
  }
  
  .center {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
 .paras{
    text-align: center;
 }
.texts {
    text-align: center;
 }
 .textss {
    text-indent: 50px;
    text-align: left;
 }
h4{
    text-align: left;
 }
 .class{
    text-align: center;
 }
 .para{
    text-align: justify;
    text-indent: 50px;
 }
 .square {
    height: 310%;
    width: 100%;
    background-color: #7fdeeb;
  }
  .container {
   display: flex;
   align-items: left;
   justify-content: left
  }
  img {
   max-width: 1000px;
   max-height:1000px;
 }
 .text {
   text-align: justify;
   font-style: italic;
   font-size: 20px;
   padding-left: 0%;
 }